body {
	/*background-color: #EEE;*/
	/*background-color: #313b45*/
	background-color: #18222b;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 900;
	color: #EEE;
}

.header {
	text-align: left;
	margin: 300px;
	display: block;
}

.hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #EEE;
	margin 1em 0;
	padding: 0;
}
.container {
	display: block;
}

green-accent {
	/*font-family: 'Source Code Pro', monospace;*/
	font-family: 'Fira Code', monospace;
	color: #34ebcc;
	font-size: 20px;
}

grey-text {
	font-family: 'Lato', sans-serif;
	/*color: #5a5f63;*/
	color: #969899;
	display: block;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #18222b;
  /*overflow: hidden;*/
  /*float: right;*/
  /*align-content: right;*/
     /*width:500px;
    margin:50px ;
    float:right;
    top:-40px;*/
    position: absolute;
    top: 50px;
    right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  /*color: #f2f2f2;*/
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Fira Code', monospace;
  color: #EEE;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #18222b;
  color: #34ebcc;
  /*text-decoration: none;*/
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #18222b;
  color: white;
}

button {
  background-color: #18222b;
  color: #34ebcc;
  border: 1px solid #34ebcc;
  border-radius: 5px;
  font-family: 'Fira Code', monospace;
  display: inline-block;
  font-size: 19px;
  /*margin: 2px 2px;*/
  /*margin-top: 2px;
  margin-bottom: 0px;*/
  margin-left: 20px;
  padding: 10px;
}





